<script src="../js/plugins/fusioncharts/themes/fusioncharts.theme.fint.js"></script>
<style type="text/css">
    .raphael-group-1-background rect {
        fill-opacity: 1 !important;
    }

    #page-wrapper {
        background-color: #ffffff !important;
    }

    .panel-body {
        background-color: #ffffff !important;
        color: #000000 !important;
    }

    #infoRow {
        display: none !important;
    }

    /*svg text:last-child{
        display:none !important;
    }*/
</style>

<script src="../js/Dashboard/ExecutiveDashboard.js"></script>


    <div class="col-lg-4">

        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-usd fa-fw"></i> Financial Update
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body x-small-font">
                <ul>
                    <li>Current Fx rate of .72 USD continues to impact forecasted margins.</li>
                    <li>Fx trajectory in line with past 180 days; forecasted to drop sub-.70 USD</li>
                    <li>Engagement margins remain healthy with Fx stabilizing between .71 USD and .72 USD for the month of November 2015.</li>
                    <li>Continued Fx drop decreasing available project margins; impact of Fx is continually monitored by the firm FC aligning with firm hedges.</li>
                    <li>New BD pursuits using blended Fx to create project-level hedge.</li>
</ul>
            </div>
            <!-- /.panel-body -->
        </div>

        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-money fa-fw"></i> Revenue at cost
            </div>
            <div class="panel-body panel-chart" style="padding-right:0">
                <!--<canvas tc-chartjs-bar chart-options="RevAtCostOptions" chart-data="RevAtCostData" auto-legend></canvas>-->
                <div id="chartContainer">FusionCharts XT will load here!</div>
            </div>
            <!-- /.panel-body -->
        </div>

        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-usd fa-fw"></i> Revenue at cost by cluster
            </div>
            <div class="panel-body panel-chart">
                <!--<canvas tc-chartjs-bar chart-options="RevAtCostOptions" chart-data="RevAtCostData" auto-legend></canvas>-->
                <div id="RevenueByClusterContainer">Fusion Chart will load here</div>
            </div>
            <!-- /.panel-body -->
        </div>

        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-usd fa-fw"></i> EDC Margin
            </div>
            <div class="panel-body panel-chart">
                <!--<canvas tc-chartjs-line chart-options="CumulativeHoursOptions" chart-data="FXData" auto-legend></canvas>-->
                <div id="EDCMarginContainer">Fusion Charts will load here</div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

    <div class="col-lg-4">

        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-users fa-fw"></i> Headcount Analysis
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body x-small-font">
                <ul>
                    <li>EDC headcount continues to show strong growth - nearing 200 FTE.</li>
                    <li>Major projects (ING, TFNSW, VicRoads) establishing large and extended duration engagements for USI personnel.</li>
                    <li>Year-to-date headcount and hours eclipsing Consulting's plan.</li>
                    <li>FTE volume planned to plateau at current levels with a continual monitoring of pipeline to ensure resource reallocation.</li>
                    <li>Skill development ongoing for EDC personnel to align with AU offerings.</li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>

        <div class="panel panel-blue">
            <div class="panel-heading">

                <i class="fa fa-clock-o fa-fw"></i> Resource Hours
            </div>
            <div class="panel-body panel-chart">
                <!--<canvas tc-chartjs-bar chart-options="RevAtCostOptions" chart-data="RevAtCostData" auto-legend></canvas>-->
                <div id="resourceHoursChartContainer">FusionCharts XT will load here!</div>
            </div>
            <!-- /.panel-body -->
        </div>

        <div class="panel panel-blue">
            <div class="panel-heading">

                <i class="fa fa-clock-o fa-fw"></i> Cumulative Hours
            </div>
            <div class="panel-body panel-chart">
                <!--<canvas tc-chartjs-line chart-options="CumulativeHoursOptions" chart-data="CumulativeHoursData" auto-legend></canvas>-->
                <div id="CumulativeHoursContainer">Fusion Charts will load here</div>
            </div>        <!-- /.panel-body -->
        </div>

        <div class="panel panel-blue">
            <div class="panel-heading">

                <i class="fa fa-users fa-fw"></i> Headcount
            </div>
            <div class="panel-body panel-chart">
                <!--<canvas tc-chartjs-bar chart-options="RevAtCostOptions" chart-data="RevAtCostData" auto-legend></canvas>-->
                <div id="HeadcountContainer">Fusion Charts will load here</div>
            </div>
            <!-- /.panel-body -->
        </div>


    </div>

    <div class="col-lg-4">

        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-arrow-circle-right fa-fw"></i> Projects & Pipeline
            </div>
            <div class="panel-body x-small-font">
                <ul>
                    <li>5 engagements in won status pending kick-off; 4 in proposed status with likely conversion and strong USI resource needs.</li>
                    <li>Forecasts remain strong, including 2 large F&PM opportunities.</li>
                    <li>Customer continues to drive EDC usage; 18 projects in-flight across CON.</li>
                    <li>90 day target to initiate HC, S&O and F&PM engagements.</li>
                    <li>Cluster EDC Champions continue to work with counterpart</li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> EDC Projects in progress
            </div>
            <div class="panel-body panel-chart">
                <!--<canvas tc-chartjs-bar chart-options="RevAtCostOptions" chart-data="RevAtCostData" auto-legend></canvas>-->
                <div id="ProjectsInProgressContainer">Fusion Chart will load here</div>
            </div>
            <!-- /.panel-body -->
        </div>
        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> EDC Consulting Pipeline
            </div>
            <div class="panel-body panel-chart" style="padding-bottom:0">
                <table class="table table-striped table-responsive x-small-font" style="height:250px">
                    <tr>
                        <th ng-click="predicate = 'Client'; reverse=false">Client</th>
                        <th ng-click="predicate = 'ProjectName'; reverse=false">Project Name</th>
                        <th ng-click="predicate = 'Status'; reverse=false">Status</th>
                        <th class="hidden-xs" ng-click="predicate = 'Scope'; reverse=false">Scope</th>
                        <th class="hidden-xs" ng-click="predicate = 'TeamSize'; reverse=false">Team Size</th>
                        <!--<th class="hidden-xs" ng-click="predicate = 'Cluster'; reverse=false">Cluster</th>-->
                    </tr>
                    <tr ng-repeat="project in EDCPipeline">
                        <td>{{project.Client}}</td>
                        <td>{{project.ProjectName}}</td>
                        <td>{{project.Status}}</td>
                        <td class="hidden-xs">{{project.Scope}}</td>
                        <td class="hidden-xs text-center">{{project.TeamSize}}</td>
                        <!--<td class="hidden-xs text-center">{{project.Cluster}}</td>-->
                    </tr>
                    </tr>
                </table>

            </div>
            <!-- /.panel-body -->
        </div>

        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-usd fa-fw"></i> FX Tracking AUD | USD
            </div>
            <div class="panel-body panel-chart">
                <!--<canvas tc-chartjs-line chart-options="CumulativeHoursOptions" chart-data="FXData" auto-legend></canvas>-->
                <div id="FXTrendContainer">Fusion Chart will load here</div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>


